@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

.fullScreenPopUp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling found at: https://codepen.io/DanielWeiner/pen/naybVd */
.playGameBtn {
    font-size: 40px;
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

.playGameBtn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.winningPlayerMessage {
    font-size: 40px;
    color: white;
    text-align: center;
}

.btnsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playAgainBtn {
    font-size: 30px;
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    margin-bottom: 15px;
}

.playAgainBtn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}